<!-- index.ejs -->
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"">
    <title>Express</title>
  </head>

  <body>
    <ul>
      <% for (const user of users) { %>
        <li class="user"><%= user.name %></li>
      <% } %>
    </ul>

    <script src="/static/index.js" defer></script>
  </body>
</html>